* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
body {
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
}
.menu ul {
    display: grid;
}
.nav ul {
    display: grid;
}
.sidebar {
    display: grid;
    gap: 50px;
    text-align: center;
}
.article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}
.card {
    height: 200px;
}