* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    gap: 10px;
    height: 100%;
}

.container > div:nth-of-type(1){
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.container > div:nth-of-type(2){
    background-color: #435663;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: auto;
    gap: 3px;
    padding: 15px;
    color: #FFF8D4;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #313647;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 10px rgba(0, 0, 0, 0.1);

}

.yes {
    border: 1px solid green;
}
.no {
    border: 1px solid red;
}

.card h2 {
    margin-bottom: 70px;
}

.pages {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
}

.btn-div{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.new-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    width: 100px;
    color: #435663;
    background-color: white;
    transition: all 0.5s;
}
.new-btn:hover {
    cursor: pointer;
    scale: 1.1;
    width: 200px;
    color: #313647;
    background-color: #FFF8D4;
}

#book-dialog {
    margin: auto;
    border: none;
    border-radius: 10px;
}
::backdrop{
    background: rgba(0, 0, 0, 0.3);
}

#book-dialog form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 20px;
}

form > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.radio-class{
    display: flex;
    gap: 10px;
}

input {
    border: 1px solid #435663;
    border-radius: 5px;
    padding: 10px 15px;
}

.dialog-btn {
    border: none;
    background-color: #435663;
    border-radius: 5px;
    color: #FFF8D4;
    padding: 10px 15px;
    cursor: pointer;
    width: 50%;
    transition: all 0.3s;
}
.dialog-btn:hover {
    width: 70%;
    border: 1px solid #313647;
    background-color: white;
    color: #313647;
}
.edit-div {
    display: flex;
    gap: 15px;
}

.edit-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    width: 150px;
    color: #435663;
    background-color: white;
    transition: all 0.5s;
}
.edit-btn:hover {
    cursor: pointer;
    scale: 1.1;
    width: 180px;
    color: #313647;
    background-color: #FFF8D4;
}

.delete:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

.status {
    color: green;
}