* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    gap: 10px;
    height: 100%;
}

.container > div:nth-of-type(1){
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.container > div:nth-of-type(2){
    background-color: #435663;
    border-radius: 10px 10px 0px 0px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: auto;
    gap: 3px;
    padding: 15px;
    color: #FFF8D4;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #313647;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 10px rgba(0, 0, 0, 0.1);
}
.card h2 {
    margin-bottom: 70px;
}

.pages {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
}

.btn-div{
    display: flex;
    justify-content: center;
}

.new-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    width: 100px;
    color: #435663;
    background-color: white;
    transition: all 0.5s;
}
.new-btn:hover {
    cursor: pointer;
    scale: 1.1;
    width: 200px;
    color: #313647;
    background-color: #FFF8D4;
}